[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
flask-cors = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
flask-socketio = "*"
apscheduler = "*"
flask-migrate = "*"
bcrypt = "*"
redis = "*"
flask-limiter = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.12"
